<ion-header>
  <ion-toolbar>
    <ion-title>Employee Profile</ion-title>
      	<ion-buttons slot="start">
  		<ion-back-button></ion-back-button>
  	</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item class="no-padding">
      <ion-label>
          <h2>Name: {{ user.department}}</h2>
          <p>Email: {{ user.email }}</p>
          <p>Department: {{ user.name }}</p>
          <p>Role: {{ user.phoneNumber }}</p>
          <p>Phone Number: {{ user.role }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/detailsview']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

