<ion-header>
  <ion-toolbar>
  	<ion-buttons>
  		<ion-back-button></ion-back-button>
    		<ion-title>Approval Status</ion-title>
	</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-card>
      <ion-card-content>
        <ion-list no-line>
          <ion-item>
            <ion-label>From</ion-label>
            <ion-datetime presentation="date" displayFormat="DD/MM/YYYY" [(ngModel)]="post.dateFrom"></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label>To</ion-label>
            <ion-datetime presentation="date" displayFormat="DD/MM/YYYY" [(ngModel)]="post.dateTo"></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-textarea placeholder="Reason for leave" [(ngModel)]="post.reason"></ion-textarea>
          </ion-item>

          <ion-item>
             <ion-button expand="block" color="primary" (click)="approveLeave(post)">
      <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
      Approve
    </ion-button>

          </ion-item>
                    <ion-item>
             <ion-button expand="block" color="primary" (click)="declineLeave(post)">
      <ion-icon slot="start" name="close-circle-outline"></ion-icon>
      Decline
    </ion-button>

          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
</ion-content>
