<ion-header>
  <ion-toolbar>
    <ion-title>Employee Menu</ion-title>
      <ion-buttons>
        <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="ion-text-center">
    <img src="assets/logo.jpg" width="60%">
  </p>


<ion-grid fixed>
  <ion-row>
    <!--<ion-col size="12">
      <ion-button [routerLink]="['/employee-profile']" expand="full" fill="outline">
        <ion-icon slot="end" name="briefcase-outline"></ion-icon>
        View Profile
      </ion-button>
    </ion-col>-->
    <ion-col size="12">
      <ion-button [routerLink]="['/request-leave']" expand="full"  fill="outline">
        <ion-icon slot="end" name="airplane-outline"></ion-icon>
        Request Leave
      </ion-button>
    </ion-col>
        <ion-col size="12">
      <ion-button [routerLink]="['/view-leave-request']" expand="full"  fill="outline">
        <ion-icon slot="end" name="checkbox-outline"></ion-icon>
        View Leave Request
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-button class="ion-padding" expand="full" shape="round" color="light" [routerLink]="['/employee-sign-in']">
  Sign out
</ion-button>
</ion-content>
